body {
    background-color: #F9F7F7;
    /*font-family: 'Helvetica New', sans-serif;*/
}

/*Styling the nav bar*/
.navbar {
    background-color: white;
    height: 80px;
    margin: 10px;
    padding: 0.5rem;
    border-radius: 16px;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #112D4E;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: #3F72AF;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #3F72AF;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link:active::before {
        width: 100%;
        visibility: visible;
    }
}

/*Navbar and Hero styling*/
@media (max-width: 911px) {
    .navbar {
        margin: 0px;
        padding: 0.5rem;
    }

    .hero-section {
        margin-top: 1rem;
    }
}

@media (max-width: 650px) {
    .hero-section {
        margin-top: 2rem;
    }
}

@media (max-width: 575px) {
    .navbar {
        margin: 0px;
        padding: 0.5rem;
    }

    .hero-section {
        margin-top: 3rem;
    }
}

/* Button: Jetzt absichern*/
.btn-absichern {
    background: #3F72AF;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3 background-color;
}

.btn-absichern-medium {
    font-size: 1.25rem;
}

.btn-absichern:hover {
    background-color: #4D88CF;
}

/*Styling of my rows*/
.row {
    background-color: #FFFFFF;
}

.steps>div {
    background-color: #DBE2EF66;
    border-radius: 20px;
    padding: 8px 5px;
    width: 60%;
    margin-top: 15px;
}

@media (max-width: 767px) {
    .steps>div {
        background-color: #DBE2EF66;
        border-radius: 20px;
        padding: 8px 5px;
        width: 100%;
        margin-top: 15px;
    }
}

#price a {
    border-radius: 10px;
    border: 1px solid #3F72AF;
    background-color: white;
    color: #3F72AF;
    font-weight: 400;
}

#price h2 {
    color: #112D4E;
}

#price h3 {
    color: #112D4E;
}

#price li {
    color: #112D4E;
    font-size: 1.20rem;
}

/*Styling 5 steps*/
.rounded-list {
    counter-reset: li;
    /* Initiate a counter */
    list-style: none;
    padding: 0;
}

.rounded-list div {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #DBE2EF;
    color: #112D4E;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.rounded-list div:hover {
    background: #F9F7F7;
}

.rounded-list div:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #FFFFFF;
    height: 2.5em;
    width: 2.5em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

/*Seperator footer*/
@media (max-width: 991px) {
    .seperator {
        width: 100%;
        background-color: #112D4E;
        height: 0.5px;
    }
}

/*Bootstrap icon styling*/
.bi {
    color: #112D4E;
    height: 100px;
}

.bi-file-earmark-arrow-down {
    color: white;
    font-weight: bold;
}