body {
    background-color: #F9F7F7;
    /*font-family: 'Helvetica New', sans-serif;*/
}

/*Styling the nav bar*/
.navbar {
    background-color: white;
    height: 80px;
    margin: 10px;
    padding: 0.5rem;
    border-radius: 16px;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #112D4E;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: #3F72AF;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #3F72AF;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link:active::before {
        width: 100%;
        visibility: visible;
    }
}

/*Navbar and Hero styling*/
@media (max-width: 911px) {
    .navbar {
        margin: 0px;
        padding: 0.5rem;
    }

    .hero-section {
        margin-top: 1rem;
    }
}

@media (max-width: 650px) {
    .hero-section {
        margin-top: 2rem;
    }
}

@media (max-width: 575px) {
    .navbar {
        margin: 0px;
        padding: 0.5rem;
    }

    .hero-section {
        margin-top: 3rem;
    }
}

/* Button: Jetzt absichern*/
.btn-absichern {
    background: #3F72AF;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3 background-color;
}

.btn-absichern-medium {
    font-size: 1.25rem;
}

.btn-absichern:hover {
    background-color: #4D88CF;
}

/*Footer*/
.rechtliches a {
    color: #112D4E;
    text-decoration: none;
}
/*Seperator footer*/
@media (max-width: 991px) {
    .seperator {
        width: 100%;
        background-color: #112D4E;
        height: 0.5px;
    }
}

/*Bootstrap icon styling*/
.bi {
    color: #112D4E;
    height: 100px;
}

.bi-file-earmark-arrow-down {
    color: white;
    font-weight: bold;
}